<footer class="bg-white text-black text-center py-4 mt-5 border-top">
    <div class="container">
        <p class="mb-1">© {{ "now"|date("Y") }} EcoRide — Tous droits réservés.</p>
        <p class="mb-0">
            <a href="{{ path('index') }}#contact" class="text-dark">Contact</a> |
            <a href="/mentions-legales" class="text-dark">Mentions légales</a>
        <p>contact@ecoride.fr</p>
        <p class="text-center">
        <a href="{{ path('app_cgu') }}">Conditions Générales d’Utilisation</a>
        </p>
        </p>
    </div>
</footer>
