{% extends 'base.html.twig' %}

{% block title %}Accueil EcoRide{% endblock %}

{% block body %}
{% include 'default/carousel.html.twig' %}

<hr>

<section class="mb-5">
    <div class="container py-4" id="top">
    <h1 class="mb-5 text-center">Bienvenue sur <strong>EcoRide</strong></h1>
        <p class="lead text-center">
            Réduisez votre impact carbone et faites des économies grâce au covoiturage responsable.
        </p>
    <div class="row my-5">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <img src="/images/eco9.jpg" class="card-img-top" alt="Écologie">
                <div class="card-body">
                    <h5 class="card-title">Notre mission</h5>
                    <p class="card-text">Faites des économies,Réduisez votre impact environnemental,Désengorgez la circulation,Faites de nouvelles rencontres !</p>
                </div>
            </div>
        </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <img src="/images/eco10.jpg" class="card-img-top" alt="Voiture">
                    <div class="card-body">
                        <h5 class="card-title">Rejoignez la communauté</h5>
                        <p class="card-text">Des centaines de trajets proposés chaque jour. Réservez ou proposez le vôtre !</p>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

{% include 'default/recherche.html.twig' %}

<hr>

{% include 'default/avis.html.twig' %}

<hr>

{% include 'default/contact.html.twig' %}

{% endblock %}
