{% extends 'base.html.twig' %}

{% block title %}Accueil EcoRide{% endblock %}

{% block body %}

  {# --- Carousel d'accueil --- #}
  {% include 'default/carousel.html.twig' %}

  {# --- Section mission --- #}
  <section class="py-5 bg-white border-bottom">
    <div class="container text-center">
      <h2 class="mb-4 text-success">Bienvenue sur EcoRide</h2>
      <p class="lead mb-5">
        Réduisez votre impact carbone et faites des économies grâce au covoiturage responsable.
      </p>
      <div class="row justify-content-center">
        <div class="col-md-5 mb-4">
          <div class="card p-3 shadow-sm">
            <img src="/images/eco9.jpg" class="card-img-top" alt="Mission">
            <div class="card-body">
              <h5 class="card-title">Notre mission</h5>
              <p class="card-text">Faites des économies… nouvelles rencontres !</p>
            </div>
          </div>
        </div>
        <div class="col-md-5 mb-4">
          <div class="card p-3 shadow-sm">
            <img src="/images/eco10.jpg" class="card-img-top" alt="Communauté">
            <div class="card-body">
              <h5 class="card-title">Rejoignez la communauté</h5>
              <p class="card-text">Des centaines de trajets proposés… le vôtre !</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# --- Recherche de covoiturages --- #}
  <section id="recherche" class="py-5 bg-light border-bottom">
    {% include 'default/recherche.html.twig' %}
  </section>

  {# --- Avis utilisateurs --- #}
  <section id="avis" class="py-5 bg-white border-bottom">
    {% include 'default/avis.html.twig' %}
  </section>

  {# --- Contact --- #}
  <section id="contact" class="py-5 bg-light">
    {% include 'default/contact.html.twig' %}
  </section>

{% endblock %}