<section id="avis" class="py-5 bg-white border-top border-bottom shadow-lg rounded">
    <div class="container">
        <h2 class="text-center mb-4">Avis des utilisateurs</h2>

            {% if avisList is not empty %}
            <div id="avisCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                {% for avis in avisList %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <blockquote class="blockquote text-center">
                        <p class="mb-3">“{{ avis.commentaire }}”</p>
                        <footer class="blockquote-footer">{{ avis.user.firstname }}</footer>
                        <div class="mt-2 text-warning">
                        {% for i in 1..avis.note %}
                            ⭐️
                        {% endfor %}
                        </div>
                    </blockquote>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% else %}
            <p class="text-center text-muted">Aucun avis pour le moment.</p>
            {% endif %}
         
        
            <button class="carousel-control-prev" type="button" data-bs-target="#avisCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#avisCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
    </div>      
</section>