{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container my-5" style="max-width: 700px;">
    <h1 class="text-success mb-4">Contactez-nous</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">{{ message }}</div>
    {% endfor %}
    <section id="contact" class="bg-white rounded p-4 my-5 shadow-sm">
    <h2 class="text-center text-success mb-4">Contactez-nous</h2>

    <form>
        <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3">
        <textarea class="form-control" placeholder="Message" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Envoyer</button>
    </form>
    </section>
</div>
{% endblock %}