{% extends 'base.html.twig' %}



{% block body %}

    <article class="card">
        <div class="card-body">
            <h2>{{ voiture.modele }}</h2>
            <h3>{{ voiture.Immatriculation}}</h3>
        </div>
        <p>Voiture créé le {{ voiture.datePremiereImmatriculation|date('Y-m-d H:i:s') }} </p> 
    </article>

{% endblock %} 