{% extends 'base.html.twig' %}


{% block body %}
    <article>
        <h2>{{ covoiturage.dateDepart|date('Y-m-d') }}</h2>
       {# 

        {{ covoiturage.content }} #}

        <p>Covoiturage créé le {{ covoiturage.publishedAt|date('Y-m-d H:i:s') }} </p>
    </article>

{% endblock %} 